if user
	h1= user.name
	p you are logged)
  div
    form(method='post', action='/users')
    input(type='submit')
else
	h1 Register user
	form(method='post', action='/users')
		input(type='text', name='name') 
		input(type='text', name='email')
		input(type='password', name='password')
		input(type='submit')
	h1 Login user
	form(method='post', action='../api/users/login')
		input(type='text', name='emeil')
		input(type='password', name='password')
		input(type='submit')