//extends layout
//block content
    
div
    form(method="POST" action="create")
        label(for="title" value="title") Title
        input(type="text", name="title")
        br
        label(for="body" value="text") Text
        input(type="text", name="body")
        br
        button(type="submit" value="submit")